* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(15,46,77);
  background: linear-gradient(332deg, rgba(15,46,77,1) 22%, rgba(250,165,23,1) 100%); 
}

#container {
  display: flex;
  box-sizing: border-box;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#container .box {
  box-sizing: border-box;
  text-align: center;
}

#container .box img {
  width: 220px;
}

#container .box .buttonload {
  display: block;
  margin: auto;
  background-color: transparent;
  border: none;
  color: black;
  padding: 12px 16px;
  font-size: 20px;
}

#container .box .fa {
margin-right: 8px;
}

#container .box span {
  display: block;
  margin-top: 20px;
  font-size: 20px;
  font-family: 'Fira Sans', sans-serif;
}

#container .box .social-icons ul {
  display: flex;
  list-style: none;
  margin-top: 30px;
  justify-content: space-around;
}

#container .box .social-icons ul li img {
  width: 75px;
}

#container .box .social-icons ul li img:hover {
  filter: contrast(150%);
}